/* MAIN */

body {

}

img {
    width: 100%;
}

/* MAIN SLUT */

/* FONT */
h1 {
    color: white;
    font-family: 'Akronim', sans-serif;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Akronim', sans-serif;
    text-align: center;
}

/* FONT SLUT */

/* NAV */

nav {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}


.navbar-light .navbar-nav .nav-link.active {
    color: #ffff00;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}

/* NAV SLUT */


/* SPLASH */
.titel {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* SPLASH SLUT */

/* FOOTER */
footer {
    background-image: url(footer.png);
    height: 500px;
}

/* FOOTER SLUT */
