/* MAIN */

body {

}

img {
    width: 100%;
}

/* MAIN SLUT */

/* FONT */
h1 {
    color: white;
    font-family: 'Akronim', sans-serif;
    text-align: center;
    font-size: 10em !important;
}

h2 {
    color: white;
    font-family: 'Akronim', sans-serif;
    text-align: center;
    font-size: 4em !important;
}

/* FONT SLUT */

/* NAV */

nav {
    font-family: 'Signika negative', sans-serif;
    font-size: 20px;

}


.navbar-light .navbar-nav .nav-link.active {
    color: #ffff00;
    font-family: 'Signika negative', sans-serif;
    font-size: 20px;
}



/* NAV SLUT */


/*Farve i nav*/

a.nav-link {
    color: #a53516;
    text-decoration: none;
    background-color: transparent;
}


/*Farve i nav slut*/


/* SPLASH */
.titel {
    position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* SPLASH SLUT */

/* FOOTER */
footer {
    background-image: url(footer.png);
   height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER SLUT */
